---
layout: layout.liquid
title: 11ty Boilerplate
---
<body>
    <header>
        <div class="header-bar">
            <div class="logo">
                <img src="/images/y18.svg" alt="Hacker News Logo">
                <h2>Hacker News</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="#">new</a><span>|</span></li>
                    <li><a href="#">past</a><span>|</span></li>
                    <li><a href="#">comments</a><span>|</span></li>
                    <li><a href="#">ask</a><span>|</span></li>
                    <li><a href="#">show</a><span>|</span></li>
                    <li><a href="#">jobs</a><span>|</span></li>
                    <li><a href="#">submit</a><span>|</span></li>
                </ul>
            </nav>
            <div class="login">login</div>
        </div>
    </header>
    <div class="content">
        <table>
            <tbody>
                <tr>
                    <td>
                        <article>
                            <p class="title">1. Airfoil <span>(ciechanow.ski)</span></p>
                            <p class="meta">1148 points by todsacerdoti 4 hours ago | hide | 115 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">2. Amazon lobbyists to be banned from European Parliament <span>(uni-europa.org)</span></p>
                            <p class="meta">42 points by anigbrowl 16 minutes ago | hide | 8 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">3. SuperTux <span>(github.com/supertux)</span></p>
                            <p class="meta">61 points by floriagoose 1 hours ago | hide | 13 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">4. Pure Programming language <span>(agraef.github.io)</span></p>
                            <p class="meta">56 points by tosh 2 hours ago | hide | 4 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">5. Testing the F-35C Tailhook <span>(the-engi-ner.github.io)</span></p>
                            <p class="meta">239 points by skiargh 5 hours ago | hide | 101 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">6. Ant Geopolitics <span>(aeon.com)</span></p>
                            <p class="meta">196 points by romaintailhurat 7 hours ago | hide | 61 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">7. Tesorio (YC S15) Is Hiring a Head of Infrastructure (100% Remote) <span>(tesorio.com)</span></p>
                            <p class="meta">517 points by mellosouls 5 hours ago | hide | 245 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">8. The /unblock API from Browserless: dodging bot detection as a service <span>(browserless.io)</span></p>
                            <p class="meta">75 points by keepamovin 3 hours ago | hide | 65 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">9. I turned my open-source project into a full-time business <span>(emailengine.app)</span></p>
                            <p class="meta">472 points by andris9 8 hours ago | hide | 188 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">10. Amazon lobbyists to be banned from European Parliament <span>(dailynous.com)</span></p>
                            <p class="meta">517 points by mellosouls 5 hours ago | hide | 245 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">11. Blazer: Business intelligence made simple <span>(github.com/akane)</span></p>
                            <p class="meta">124 points by tosh 7 hours ago | hide | 27 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">12. Apple cancels work on electric car, shifts team to generative AI <span>(bloomber.com)</span></p>
                            <p class="meta">405 points by coloneit 2 hours ago | hide | 416 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">13. Synthetic data generation for tabular data <span>(github.com/adv-dev)</span></p>
                            <p class="meta">24 points by skadamat 2 hours ago | hide | 1 comments</p>
                        </article>
                    </td>
                </tr>
                <tr>
                    <td>
                        <article>
                            <p class="title">14. Dracula's Biggest Mistake<span>(github.com/bruin-data)</span></p>
                            <p class="meta">78 points by chesterfield 6 hours ago | hide | 24 comments</p>
                        </article>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
